.ui-content
{
    margin-bottom:50px; /* Set this to whatever your footer size is... */
}

.ui-footer {
    position: absolute !important;
    width: 100%;
}

/*
* {
    font: 14px Comic Sans MS, cursive, sans-serif !important;
}
*/

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*
.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}
.footer-button-left {
    left: 0.4em;
}
.footer-button-right {
    right: 0.4em;
}
*/

#main-panel {
    width: 80%;
    margin: auto;
}

#start-panel {
    width: 20%;
    margin: auto;
}

#license-text {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    //margin-top: 30px;
}

#dev-text {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    //margin-top: 30px;
}

.normal {
    font-weight: normal !important ; 
}

fieldset label {
    font-weight: normal !important ; 
}